@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.App {
  text-align: center;
}

@media screen and (max-device-width:640px), screen and (max-width:640px) {
.html {
  height: 100%;
  width: 100%;
  aspect-ratio: 10, 3;
}
}

/* HOME ======================================================================================== */

.icons-box {
  margin-left: auto;
  margin-right: auto;
  min-width: 960px;
  min-height: 960px;
  white-space: nowrap;
}

.home-github-icon {
  margin-top: 3vh;
  margin-left: 90%;
  display: inline-block;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  padding: 1%;
}

.home-github-icon:hover {
  background-color: #ffffff3f;
  border-radius: 50%;
}

.home-linkedin-icon {
  margin-top: 3vh;
  margin-right: 0vw;
  display: inline-block;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  padding: 1%;
}

.home-linkedin-icon:hover {
  background-color: #ffffff3f;
  border-radius: 50%;
}

.nav-left {
  display: flex;
  align-content: space-evenly;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  margin-top: 5%;
  padding-left: 1.8%;
  height: 100%;
  width: 5%;
  list-style-type: none;
}

.nav-item-text {
  /* display: inline-flex; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #443235;
  text-align: center;
  height: 15%;
  min-height: 15%;
  font-size: 11px;
  letter-spacing: 3px;
  writing-mode: vertical-lr;
  transform: translate(100%, 50%) rotate(-180deg);
  transform-origin: 0 0;
  border-bottom: 1px;
}

.nav-item-text.color-home {
  color: #443235;
  display: flex;
  text-align: center;
  height: 10%;
  padding: 5%;
  font-size: 12px;
  letter-spacing: 3px;
  writing-mode: vertical-lr;
  transform: translate(100%, 50%) rotate(-180deg);
  transform-origin: 0 0;
  text-decoration: none;
  border-bottom: 1px;
}

.nav-item-text.color-contact {
  color: #EEE7E1;
  display: flex;
  text-align: center;
  height: 10%;
  padding: 5%;
  font-size: 12px;
  letter-spacing: 3px;
  writing-mode: vertical-lr;
  transform: translate(100%, 50%) rotate(-180deg);
  transform-origin: 0 0;
  text-decoration: none;
  border-bottom: 1px;
}

.nav-item-text.color-projects {
  color: #EEE7E1;
  display: flex;
  text-align: center;
  height: 10%;
  padding: 5%;
  font-size: 12px;
  letter-spacing: 3px;
  writing-mode: vertical-lr;
  transform: translate(100%, 50%) rotate(-180deg);
  transform-origin: 0 0;
  text-decoration: none;
  border-bottom: 1px;
}

.nav-item-text.color-about {
  color: #443235;
  display: flex;
  text-align: center;
  height: 10%;
  padding: 5%;
  font-size: 12px;
  letter-spacing: 3px;
  writing-mode: vertical-lr;
  transform: translate(100%, 50%) rotate(-180deg);
  transform-origin: 0 0;
  text-decoration: none;
  border-bottom: 1px;
}


.nav-item-text:hover {
  text-decoration: underline;
}

.links {
  text-decoration: none;
}

.nav-line {
  list-style-type: none;
  width: 1px;
  height: 8%;
  margin-left: 15%;
  background-color: #443235be;
}

.copyright {
  color: #443235;
  width: 6rem;
  padding-top: 15%;
  padding-left: 160%;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  letter-spacing: 3px;
  transform: translate(0, 100%) rotate(-90deg);
  transform-origin: 0 0;
  flex: 1;
}

.section-left {
  display: flex;
  flex-direction: column;
  margin-left: 13%;
  margin-top: 43vh;
}

.jill {
  font-family: 'grandslangroman', cursive;
  font-size: 70px;
  font-weight: 200;
  width: 10rem;
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 2rem;
  color: #443235;
  animation: fade-name-up 2s ease-in-out;
  -webkit-animation: fade-name-up 2s ease;
}

.atkins {
  font-family: 'grandslangroman', cursive;
  font-size: 100px;
  font-weight: 500;
  margin: 0rem;
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 2rem;
  letter-spacing: 5px;
  line-height: 3rem;
  color: #443235;
  animation: fade-name-up 2s ease-in-out;
  -webkit-animation: fade-name-up 2s ease;
  z-index: -5;
}

@keyframes fade-name-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.intro-para {
  color: #443235;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  margin-left: 13%;
  animation: fade-intro-up 3s ease-in-out;
  -webkit-animation: fade-intro-up 1.5s ease-in-out;
}

@keyframes fade-intro-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.front-end-design {
  color: #443235;
  opacity: 1.0;
  font-weight: 200;
  width: 100px;
  animation: text-grow 3s ease;
  -webkit-animation: text-grow 2s 1 ease forwards;
}

@keyframes text-grow {
  from {
    font-size: 20px;
  }

  to {
    font-size: 23px;
  }
}

@-webkit-keyframes text-grow {
  from {
    font-size: 20px;
  }

  to {
    font-size: 23px;
  }
}

.clean-lines {
  color: #443235;
  position: relative;
}

.clean-lines:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: #443235;
  animation: underline 1s ease 1s 1 forwards;
}

@keyframes underline {
  to {
    width: 100%;
  }
}

/* ABOUT ==================================================================================== */

.section-left-long {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.about-top-border-line {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  border-top: 1px solid #443235;
  border-right: 1px solid #443235;
  width: 0%;
  height: 0%;
  animation: line 1s linear forwards;
}

@keyframes line {
  from {
    width: 0%;
    height: 0%;
  }

  to {
    width: 15%;
    height: 40%;
  }
}

.profile-photo {
  display: flex;
  position: absolute;
  top: 0;
  padding-top: 110px;
  padding-left: 45%;
  margin-left: -2.2%;
  margin-right: 10%;
  z-index: -6;
}

.about {
  color: #2d2123;
  font-size: 18rem;
  font-family: 'grandslangroman', sans-serif;
  font-weight: 300;
  display: block;
  line-height: 18rem;
  width: 4rem;
  text-align: start;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 15vh;
  margin-left: 10vw;
  position: absolute;
  animation: fade-intro-up 2s ease;
  -webkit-animation: fade-intro-up 1.2s ease;
}

@keyframes fade-intro-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.about-para-overline {
  color: #443235;
  width: 35%;
  border-top: solid;
  position: absolute;
  margin-top: 18%;
  margin-left: 11vw;
  border-width: 0px;
  animation: border-animate 1s ease-in-out forwards;
  z-index: 10;
}

@keyframes border-animate {
  from {
    width: 0px;
    border-width: 0px;
  }

  to {
    width: 35%;
    border-width: 1px;
  }
}

.about-para {
  color: #443235;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 17%;
  margin-left: 13vw;
  width: 630px;
  z-index: 1;
}

.about-subheading {
  font-family: 'grandslangroman', sans-serif;
  font-weight: 200;
  font-size: 46px;
  margin-top: 110px;
  margin-bottom: 20px;
}

.skills-subheading {
  font-family: 'grandslangroman', sans-serif;
  font-weight: 200;
  font-size: 46px;
  margin: 0vh;
  padding-top: 5vh;
  padding-bottom: 2vh;
  border-top: solid 1px;
}

.about-sub-subheading {
  font-family: 'DidotLTPro-Roman', serif;
  font-style: italic;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 3px;
  margin: 0vh;
}

.about-sentence {
  margin: 10px;
  line-height: 2rem;
}

.skills-list {
  line-height: 2rem;
}

/* .animated-underline {
  display: inline-block;
}

.animated-underline:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #443235;
  transition: 0.3s;
}

.animated-underline:hover:after {
  width: 100%;
}

.animated-vertical-underline {
  display: inline-block;
}

.animated-vertical-underline:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 0.3s;
}

.animated-vertical-underline:hover:after {
  width: 100%;
} */

.bolder {
  font-weight: 600;
}

.to-top:link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  text-decoration: none;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 12px;
  color: #443235;
  padding: 5%;
  width: 50%;
  line-height: 200%;

}

.to-top:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 200%;
  text-decoration: underline;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 12px;
  color: #443235;
  padding: 5%;
  width: 50%;
  line-height: 200%;
}

.to-top:visited {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  text-decoration: underline;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 12px;
  color: #443235;
  padding: 5%;
  width: 50%;
  line-height: 200%;
}

/* CONTACT =========================================== */

.contact {
  color: #e6ddde;
  font-size: 150px;
  font-family: 'grandslangroman', sans-serif;
  font-weight: 300;
  display: flex;
  line-height: 297px;
  width: fit-content;
  padding-top: 10%;
  padding-left: 5%;
  padding-bottom: 1%;
  text-align: start;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 0vh;
  margin-left: 10vw;
  position: relative;
  animation: fade-intro-up 2s ease;
  -webkit-animation: fade-intro-up 1.2s ease;
}

@keyframes fade-intro-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.contact-top-border-line {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  border-top: 1px solid #e6ddde;
  border-right: 1px solid #e6ddde;
  width: 0%;
  height: 0%;
  animation: line 1s linear forwards;
}

@keyframes line {
  from {
    width: 0%;
    height: 0%;
  }

  to {
    width: 15%;
    height: 40%;
  }
}

.contact-para-overline {
  color: #e6ddde;
  width: 8%;
  border-top: solid;
  position: relative;
  margin-top: -4%;
  margin-left: 16%;
  border-width: 0px;
  animation: contact-border-animate 1s ease-in-out forwards;
  z-index: 10;
}

@keyframes contact-border-animate {
  from {
    width: 0%;
    border-width: 0px;
  }

  to {
    width: 8%;
    border-width: 1px;
  }
}

.contact-subheading {
  color: #e6ddde;
  position: relative;
  font-family: 'grandslangroman', sans-serif;
  font-weight: 200;
  font-size: 46px;
  animation: fade-subheading-up 2s ease;
  -webkit-animation: fade-subheading-up 2s ease;
}

@keyframes fade-subheading-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.contact-para {
  color: #e6ddde;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  width: 40%;
  animation: fade-subheading-up 2s ease;
  -webkit-animation: fade-subheading-up 2s ease;
}

@keyframes fade-subheading-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.contact-github-icon {
  display: flex;
  padding: 40%;
  margin-left: 50%;
  color: #e6ddde;
}

.contact-github-icon:hover {
  width: fit-content;
  background-color: #ffffff3f;
  border-radius: 50%;
}

.contact-linkedin-icon {
  display: flex;
  padding: 40%;
  margin-left: 50%;
  color: #e6ddde;
}

.contact-linkedin-icon:hover {
  width: fit-content;
  background-color: #ffffff3f;
  border-radius: 50%;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  width: 20%;
  margin-left: 5%;
}

.email-me {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* PROJECTS ================================= */

.projects {
  display: flex;
  position: relative;
  justify-content: flex-end;
  color: #EEE7E1;
  font-size: 180px;
  font-family: 'grandslangroman', sans-serif;
  font-weight: 300;
  line-height: 100px;
  margin-top: 25%;
  margin-bottom: 20%;
  margin-left: 76%;
  width: 100%;
  ;
  height: 100%;
  animation: fade-intro-up 2s ease;
  -webkit-animation: fade-intro-up 1.2s ease;
}

@keyframes fade-intro-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.projects-top-border-line {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  border-top: 1px solid #e6ddde;
  border-right: 1px solid #e6ddde;
  width: 0%;
  height: 0%;
  animation: line 1s linear forwards;
}

@keyframes line {
  from {
    width: 0%;
    height: 0%;
  }

  to {
    width: 15%;
    height: 40%;
  }
}

.projects-para-overline {
  width: 33%;
  color: #eee7e1ce;
  border-top: solid;
  position: absolute;
  margin-top: -6.8%;
  margin-left: 38vw;
  border-width: 0px;
  animation: projects-border-animate 1s ease-in-out forwards;
  z-index: 10;
}

@keyframes projects-border-animate {
  from {
    width: 0px;
    border-width: 0px;
  }

  to {
    width: 33%;
    border-width: 1px;
  }
}

.projects-subheading {
  font-family: 'grandslangroman', sans-serif;
  font-weight: 200;
  font-size: 46px;
  color: #EEE7E1;
  margin-top: 110px;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.single-project {
  height: 1000px;
  width: 1600px;
  margin-bottom: -5%;
  margin-left: 5%;
  margin-top: 8%;
  padding: 7%;
  border: solid transparent;
  border-width: 1px;
  background-color: #ffffff0c;
  transition: background-color 0.1s ease-in;
}

.single-project:hover {
  height: 1000px;
  width: 1600px;
  margin-bottom: -5%;
  margin-left: 5%;
  margin-top: 8%;
  padding: 7%;
  border: solid transparent;
  border-width: 1px;
  background-color: #ffffff11;
}

.project-header {
  color: #eee7e1ab;
  font-family: 'DidotLTPro-Roman', serif;
  font-style: italic;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.project-subheader {
  color: #eee7e1ab;
  font-family: 'DidotLTPro-Roman', serif;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 20px;
}

.project-info {
  color: #eee7e1ab;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}

.video-container {
  display: flex;
  width: 2000px;
  height: 800px;
  margin-bottom: 65%;
  padding-bottom: 10%;
}

iframe {
  height: 100%;
  width: 80%;
  resize: both;
  overflow: auto;
}